/*
==============================
  * CSS TABLE CONTENT *  
==============================
1. GOOGLE FONT
2. VARIABLES CSS
3. BASE
4. REUSABLE CSS CLASSES
5. HEADER & NAV
6. BREAKPOINTS
==============================
  * END TABLE CONTENT *  
==============================
*/

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.75rem ;
  /* Colors*/
  --bg-color:#581845;
  --text-primary:#dbf7a66e;
  --buttons-color:#435772;

  /* typografia */
  --body-font:sans-serif;

  --big-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smalest-font-size: 0.75rem; 

  /* font weight */
  --font-medium:400;
  --fot-semi-bold:600;
  --font-bold:700;
  
  /* Margenes */
  --mr-1:.5rem;
  --mr-2:1rem;
  --mr-3:1.25rem;
  --mr-4:1.625re,;
  --mr-5:2rem;

  /* z index */

  --z-modal: 10;
  --z-fixed: 100;

  /* shadow */
  --box-shadow: 0px 1px 9px 2px #0000002d;
}

@media (min-width: 768px) {
  :root {
    --header-height: 90px;
    --big-font-size: 38px;
    --normal-font-size: 18px;
    --small-font-size: 16px;
    --smaller-font-size: 14px;
  }
}

/*=============== BASE ===============*/

html {

  /* box sizing */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;

}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  margin: 0;
  background-color: rgba(211, 211, 211, 0.301);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CLASSES ===============*/
.section {
  padding: 4rem 0;
}

.section__title {
  text-align: center;
  margin:var(--mr-3) 0;
}

.grid--container {
  max-width: 1024px;
  display: grid;
  margin: 0 var(--mr-3);
}

.btn {
  display: inline-block;
  padding: 1.5rem 4rem;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}
.btn--primary {
  background-color:var(--buttons-color);
  color: #eee;
}

.btn:hover {
  transform: translate(-4px);
}

/*=============== Header & Navbar ===============*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: var(--bg-color); */
  background-image: url(https://cdn.pixabay.com/photo/2021/07/15/08/43/abstract-6467845_960_720.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:var(--box-shadow);
  z-index: var(--z-fixed);
  /* border: 1px solid red; */
}

.navbar {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px){
  .navbar__menu {
    background-color: #fff;
    /* border: #581845 solid 1px; */
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    box-shadow: 0px 1px 10px 2px #0000002d;
    padding: 4.5rem 1rem 2rem;
    transition: .5s;
  }
}
.navbar__logo {
  color: black;
  display: flex;
  align-items: center;
  column-gap:.25rem;

}

.btn__close {
  position: absolute;
  top:var(--mr-2);
  right: var(--mr-2);
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background .3s;
}


.btn__open,
.btn__close {
  font-size: 2rem;
  color:black;
  margin: var(--mr-1);
}

.bxl-dev-to {
  font-size: 2.8rem;
  color:#eee;
}

.navbar__logo {
  font-weight: var(--font-semi-bold);
  color: #eee;
}

.btn__close {
  color: black;
}

.btn__close:hover {
  background-color: #eee;
}

.navbar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__item {
  margin-bottom: var(--mr-2);
}

.navbar__link {
  color: #111;
  font-size: 1.2rem;
  font-weight: var(--font-semi-bold);
}

.show--menu {
  top: 0;
}

/*=============== Home ===============*/

.home {
  background-color:rgba(17, 17, 17, 0.027);
}

.home__container {
  position: relative;
  row-gap: 2rem;
  padding: var(--header-height) 0 3rem;
  border-radius: 0.625rem;
}

.home__image{
  width: clamp(min(320px, 100%), 85vw, 445px);
  height: auto;
  margin: 0 auto;
  padding-top: var(--mr-3);
}

.home__image img{
  border-radius: 50%;
  /* height: 200px; */
}

.home__social {
display: flex;
justify-content: center;
align-items: center;
gap: 2rem;
padding-top: 2rem;
}

.bxl-linkedin {
  color: rgb(0, 0, 51);
  font-size: 3rem;
}

.bxl-github {
  color:orange;
  font-size: 3rem;
}

.home__social-link {
  color: black;
  font-size: 1.5rem;
  transition: color .3s;
}

.home__social-link:hover {
  color:#581845;
}

.home__title, 
.home__description {
  text-align: center;
  margin-top: var(--mr-3);
}

.home__title {
  margin: 0;
  margin-bottom:var(--mr-2);
  /* text-transform: uppercase; */
}

.home__button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: var(--mr-2);
  padding: .85rem 1.7rem;
  gap: 2rem;
  flex-direction: row;
}

/*=============== About ===============*/

.about {
  margin: 0;
}

.about__description {
  text-align: center;
}

.about__skills {
  margin: 2.7rem 0;
}

.about__card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax (295px, 1fr));
  gap: 2rem;
}

.about__card {
  background: var(--text-primary);
  padding: 4rem 2rem 2rem;
  border-radius: 0.625rem;
  box-shadow: var(--box-shadow);
}

.about__card-title {
  text-align: center;
}

.about__card .bx {
  font-size: 2.5rem ;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bxl-html5 {
  color: orange;
}

.bxl-css3 {
  color: dodgerblue;
}

.bxl-javascript {
  color: rgba(255, 255, 0, 0.678);
}

.about__tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.about__tag {
  display: inline-block;
  padding: .75rem 1.5rem;
  font-weight: var(--font-semi-bold);
  font-size: var(--smaller-font-size);
  background-color: var(--text-primary);
  border-radius: 7px;
}

/* ============= Projects ============= */

.projects__container {
  gap: 2rem;
}

.projects__inner {
  margin: 0;
}

.projects__image {
  display: flex;
}


.projects__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 7px;
  box-shadow: 6px 11px 13px 0 #0000002e;
}

.projects__info {
  padding: var(--mr-2);
}

.projects__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.projects__button {
  padding: .75rem 1.5rem;
  background-color:#2ca4a8b2;
  color:#eee;
  box-shadow: var(--box-shadow);
}

/* ============= Contact ============= */
.contact {
  /* background-color: #f5f5f5; */
}

.contact__container {
  gap: var(--mr-3);
}

.contact__info-data {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap:var(--mr-2);
  padding: 1rem 0;
  /* text-align: center; */
}

.contact__form {
  width: 100%;
  background-color:#fff;
  padding: 3rem 1.5rem 1rem;
  margin: 0 auto;
  /* text-align: center; */
}

.cotact__form-label {
  margin-bottom: var(--mr-4);
}

.cotact__form-label {
  display:block;
  margin-bottom: var(--mr-4);
}

.contact__form-input {
  width: 70%;
  padding:.25rem;
  font-size: 1.2rem;
  font-weight: var(--font-semi-bold);
  border-radius: 5px;
  background-color: var(--text-primary);
  border: 1px solid var(--buttons-color);
}

.contact__form-input1 {
  width: 50%;
  padding:.25rem;
  font-size: 1.2rem;
  font-weight: var(--font-semi-bold);
  border-radius: 5px;
  background-color: var(--text-primary);
  border: 1px solid var(--buttons-color);
}

.contact__form-button {
  padding: 1rem;
  background-color: var(--buttons-color);
  color: #eee;
}

/* ============= Footer ============= */

.footer {
  background-color: #111;
  color: #efefef;
  padding-bottom: 2rem;
}

.footer__container {
  gap: 2rem;
}

.footer__title {
  font-size: 1.5rem;
}

.footer__socail-list {
  display: flex;
  gap: var(--mr-2);
  font-size: 1.5rem;
}

.footer__social-link {
  color: #fff;
}

.footer__copy {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0;
  border-top: 1px solid #222;
  padding-top: 2rem;
}

/* ============= Media Queries ============= */

@media screen and (min-width:768px){
  .section {
    padding: 6rem 0 5rem;
  }

  .btn__open,
  .btn__close{
    display: none;
  }

  .navbar__list {
    flex-direction: row;
    gap: 2rem;
  }

  .navbar__item {
    margin: 0;
  }

  .navbar__link {
    color: #eee;
  }
  
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
  }

  .home__image {
    width: clamp(min(375px, 100%), 48vw, 500px);
    /* background-color: #435772; */
    grid-column: 2/3;
    grid-row: 1 / 4;
  }

  .home__info {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
  }
  
  .home__title {
    font-size: 2rem;
  }

  .home__description {
    font-size: 1.5rem;
  }

  .home__buttons {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about__skills {
    grid-template-columns: 1fr .5fr;
    gap: 2rem;
  }

  .projects__container {
    padding: 3rem 0;
    gap: 4rem;
  }

  .projects__inner {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects__container .projects__project:nth-child(even) .projects__image {
    order: 2
  }
  
  .projects__container .projects__project:nth-child(even) .projects__info {
    order: 1;
    text-align: center;
  }

  .projects__container .projects__project:nth-child(even) .projects__buttons {
    justify-content: flex-end;
  }

  .projects__name2 {
    display: flex;
    justify-content: flex-end;
  }

  .contact__container {
    grid-template-columns: .5fr 1fr;
    justify-content: center;
  }

  .contact__form {
    /* text-align: center; */
    /* transform: translateY(-1.7rem) */
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

}

@media (min-width: 1024px) {
  .grid--container {
    margin: 0 auto;
  }
}

